<div class="container">
  <!-- #emailForm="ngForm' means the form is bound to the emailForm variable in the template file -->
  <!-- creates a reference to an element -->
  <!-- #emailForm will reference the html template element form and "ngForm" will reference the angular form FormGroup and tied up with the form element from the html template and access all the properties from FormGroup (the ones we used in the Reactive Forms section exercise) -->
  <!-- then #emailForm can be used inside the form tag element using interpolation {{ emailForm }} -->
  <form (ngSubmit)="onSubmit()" #emailForm="ngForm">
    <label class="label">Enter Email</label>
    <div class="container">
      <!-- [(ngModel)] is a directive that used to keep track of the value inside the input  -->
      <!-- every time the user enters a value it will update the email property triggering events bound to user input -->
      <!-- [(ngModel)] represents also a two - way binding (property binding together with event binding ) -->
      <!-- so, basically, if the property is changed inside of the class (property binding) or by the user (event binding), then the property will automatically synchronize and changed with the new value -->
      <!-- using required attribute in the input will add the required validator from FormGroup class -->
      <!-- use browse validation rules: https://developer.mozilla.org/en-US/docs/Web/HTML/Constraint_validation
  - here there is a list of browser validators you can add inside your template form and Angular will read them and create the actual validators automatically behind the scenes for us -->
      <input class="input" type="email" pattern=".+@.+\..+" required name="email" [(ngModel)]="email"
        #emailControl="ngModel" [ngClass]="{ 'is-danger': emailControl.invalid && emailControl.touched }" />
      <!-- {{ emailForm.valid }}
  {{ email }} -->
      <ng-container *ngIf="emailControl.invalid && emailControl.touched">
        <div class="help is-danger" *ngIf="emailControl.errors?.['required']">Email is required</div>
        <div class="help is-danger" *ngIf="emailControl.errors?.['pattern']">Email is not valid</div>
      </ng-container>
    </div>
    <button class="button is-primary" [disabled]="emailForm.invalid">
      Submit
    </button>

  </form>
</div>

<!-- use this for debugging -->
<!-- <hr>
<div>Is form valid: {{ emailForm.valid}}</div>
<div>Form values: {{ emailForm.value | json }}</div>
<div>Email validation errors: {{ emailForm.controls['email'].errors | json }}</div> -->